@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  @apply font-inter text-sm font-extralight text-white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.common-transition {
  @apply transition duration-300;
}

.section {
  @apply bg-fallback py-14 md:py-16 xl:py-[104px];
}

.section-title {
  @apply text-[40px] font-thin uppercase leading-[56px] tracking-[-1.6px] md:text-[67px] md:leading-[1.2] md:tracking-[-2.68px] xl:text-[98px] xl:tracking-[-3.92px];
}

.section-text {
  @apply leading-5 md:text-base md:leading-5 xl:text-lg xl:leading-6;
}

.base-btn {
  @apply common-transition block px-[4px] py-2 text-[30px] font-medium uppercase hover:bg-white/20 focus:bg-white/20 active:bg-white/20;
}

.base-link {
  @apply relative block w-full overflow-hidden;
}

.base-link::before {
  @apply common-transition absolute bottom-0 h-[1px] w-full translate-x-[101%] bg-white content-[""];
}

.base-link:hover.base-link::before {
  @apply translate-x-0;
}

.base-link:focus.base-link::before {
  @apply translate-x-0;
}

/* === BACKGROUNDS === */

.background-image {
  @apply mx-auto max-w-[1920px] bg-cover bg-center bg-no-repeat;
}

.hero {
  background-image: image-set(
    '/images/hero/hero@x1.webp' 1x,
    '/images/hero/hero@x2.webp' 2x
  );
}

.about {
  background-image: image-set(
    '/images/about/about@x1.webp' 1x,
    '/images/about/about@x2.webp' 2x
  );
}

@media screen and (max-width: 1280px) {
  .about {
    background-position: 10%;
  }
}

@media screen and (max-width: 768px) {
  .about {
    background-position: 15%;
  }
}

@media screen and (max-width: 480px) {
  .about {
    background-position: 25%;
  }
}

.services-1 {
  background-image: image-set(
    '/images/services/services-1@x1.webp' 1x,
    '/images/services/services-1@x2.webp' 2x
  );
}

.services-2 {
  background-image: image-set(
    '/images/services/services-2@x1.webp' 1x,
    '/images/services/services-2@x2.webp' 2x
  );
}

.services-3 {
  background-image: image-set(
    '/images/services/services-3@x1.webp' 1x,
    '/images/services/services-3@x2.webp' 2x
  );
}

.services-4 {
  background-image: image-set(
    '/images/services/services-4@x1.webp' 1x,
    '/images/services/services-4@x2.webp' 2x
  );
}

.services-5 {
  background-image: image-set(
    '/images/services/services-5@x1.webp' 1x,
    '/images/services/services-5@x2.webp' 2x
  );
}

.career,
.career::before {
  @apply bg-cover bg-center bg-no-repeat;

  background-image: image-set(
    '/images/career/career-tablet@x1.webp' 1x,
    '/images/career/career-tablet@x2.webp' 2x
  );
}

.career {
  @apply relative mb-[826px] sm:mb-[756px] md:mb-0;
}

.career::before {
  @apply absolute top-[100%] h-[826px] w-full content-[""] sm:h-[756px] md:hidden;
}

@media screen and (min-width: 1280px) {
  .career {
    background-image: image-set(
      '/images/career/career@x1.webp' 1x,
      '/images/career/career@x2.webp' 2x
    );
  }
}

.gallery {
  background-image: image-set(
    '/images/gallery/gallery@x1.webp' 1x,
    '/images/gallery/gallery@x2.webp' 2x
  );
}

.contact {
  background-image: image-set(
    '/images/contact/contact@x1.webp' 1x,
    '/images/contact/contact@x2.webp' 2x
  );
}

/* === SWIPER === */

/* pagination */

.swiper-pagination-bullets {
  @apply !top-[85vw] !flex !w-fit !flex-col !gap-4 !text-left sm:!top-[393px] md:!left-[484px] md:!top-0 xl:!left-[628px] xl:!gap-6;
}

.swiper-pagination-bullet {
  @apply !m-0 !flex !h-fit !w-fit gap-[53px] !rounded-none !bg-transparent;
}

.swiper-pagination-bullet-active {
  @apply common-transition relative translate-x-[14px] font-medium !opacity-100;
}

.swiper-pagination-bullet-active::before {
  @apply absolute left-[-13px] top-1/2 h-[6px] w-[6px] -translate-y-1/2 rotate-45 bg-white content-[""];
}

.swiper-pagination-bullet {
  @apply opacity-0;
}

/* navigation */

.swiper-slide:not(.swiper-slide-next) {
  @apply opacity-50;
}

/* services slider */

.swiper-slide:nth-child(1) .comment {
  @apply xl:top-[-4px];
}

.swiper-slide:nth-child(2) .comment {
  @apply xl:top-[48px];
}

.swiper-slide:nth-child(3) .comment {
  @apply xl:top-[88px];
}

.swiper-slide:nth-child(4) .comment {
  @apply xl:top-[164px];
}

.swiper-slide:nth-child(5) .comment {
  @apply xl:top-[216px];
}

/* === FORMS === */

.field-input::placeholder {
  @apply text-[13px] font-extralight leading-6 xl:text-xl;
}

.checkbox-indicator {
  @apply relative cursor-pointer;
}

.checkbox-indicator::before,
.checkbox-indicator::after {
  @apply common-transition absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 content-[""];
}

.checkbox-indicator::before {
  @apply h-[14px] w-[14px] bg-white/10 xl:h-4 xl:w-4;
}

.checkbox-indicator::after {
  @apply h-8 w-8 bg-transparent xl:h-[34px] xl:w-[34px];
}

.checkbox-input:checked + .checkbox-indicator::before {
  @apply bg-white;
}

.checkbox-input:hover + .checkbox-indicator::after,
.checkbox-input:focus + .checkbox-indicator::after {
  @apply bg-white/5;
}
