@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  @apply bg-fallback font-inter text-sm font-extralight text-white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.common-transition {
  @apply transition duration-300;
}

.container-padding {
  @apply py-[56px] md:py-[64px] xl:py-[104px];
}

.section-title {
  @apply text-[40px] font-thin uppercase leading-[56px] tracking-[-1.6px] md:text-[67px] md:leading-tight md:tracking-[-2.68px] xl:text-[98px] xl:leading-tight xl:tracking-[-3.92px];
}

.section-description {
  @apply leading-[20px] md:text-base xl:text-lg xl:leading-[24px];
}

.background-image {
  @apply bg-cover bg-center bg-no-repeat;
}

.base-btn {
  @apply block px-[4px] text-[30px] font-medium uppercase transition-colors hover:bg-white/20 focus:bg-white/20;
}
