.career {
  position: relative;
  z-index: 2;
  background-image: linear-gradient(to right, #020f08bf, #020f08bf),
    url('/images/career@x1.jpg');
}

.career.dublicate {
  z-index: 1;
}

.career::before {
  content: '';
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 290px;

  opacity: 0.75;
  background: linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0) 100%);
}

.career::after {
  content: '';
  position: absolute;
  bottom: -1px;
  z-index: -1;

  width: 100%;
  height: 290px;

  opacity: 0.75;
  background: linear-gradient(180deg, rgba(0, 37, 49, 0) 0%, #001826 100%);
}

@media screen and (max-width: 768px) {
  .career {
    background-image: linear-gradient(to right, #020f08bf, #020f08bf),
      url('/images/career-tablet@x1.jpg');
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .career {
    background-image: linear-gradient(to right, #020f08bf, #020f08bf),
      url('/images/career@x2.jpg');
  }
}

@media screen and (max-width: 768px),
  (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .career {
    background-image: linear-gradient(to right, #020f08bf, #020f08bf),
      url('/images/career-tablet@x2.jpg');
  }
}
