input::placeholder {
  font-size: 13px;
  font-weight: 200;
  line-height: 24px;
}

.tel {
  padding-left: 40px;
}

.checkbox-indicator {
  cursor: pointer;
  position: relative;
}

.checkbox-indicator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 14px;
  height: 14px;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 150ms var(--cubic);
}

.career-checkbox:checked + .checkbox-indicator::before {
  background-color: #ffffff;
}

.checkbox-indicator::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 32px;
  height: 32px;

  background-color: transparent;

  transition: background-color 150ms var(--cubic);
}

.career-checkbox:hover + .checkbox-indicator::after {
  background-color: rgba(255, 255, 255, 0.05);
}

.career-checkbox:focus + .checkbox-indicator::after {
  background-color: rgba(255, 255, 255, 0.05);
}

@media screen and (min-width: 1280px) {
  input::placeholder {
    font-size: 20px;
  }

  .tel {
    padding-left: 60px;
  }

  .checkbox-indicator::before {
    width: 16px;
    height: 16px;
  }

  .checkbox-indicator::after {
    width: 34px;
    height: 34px;
  }
}
